// fonts
$fontReg: 'Roboto', sans-serif;
$fontSlab: 'Roboto Slab', serif;

// colors
$colorWhite: #ffffff;
$colorWhiteTwo: #f2f2f2;
$colorBrightOrange: #f26002;
$colorlightGrey: #979797;
$colorGreyish: #4a4a4a;
