.footer {
  background-color: $colorGreyish;
  color: $colorWhite;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    gap: 32px;
  }
  &__copy {
    text-align: center;
    font-family: $fontReg;
    font-size: 1.4rem;
    line-height: 30px;
    padding-bottom: 36px;
    &--love {
      color: $colorBrightOrange;
    }
    @media (min-width: 768px) {
      margin-left: 100px;
    }
  }
}
.nav {
  padding-top: 65px;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 50px;
    align-items: baseline;
  }
  &__list {
    list-style: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      text-align: start;
      margin: 56px 69px 34px 56px;
    }
    &--link {
      line-height: 30px;
      text-decoration: none;
      color: $colorWhite;
      text-transform: uppercase;
      font-family: $fontReg;
      font-size: 1.6rem;
    }
  }
}
.copy {
  text-align: center;
  font-family: $fontReg;
  font-size: 1.4rem;
  margin: 32px 0;
  &::first-line {
    word-spacing: 100vw;
    line-height: 30px;
  }
  &__love {
    color: $colorBrightOrange;
  }
}
