.footer {
  background-color: $colorGreyish;
  color: $colorWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 475px;
  &__arrow {

    background-color: $colorWhite;
    padding: 15px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 2px black;
    
    position: relative;
    transform: translateY(-50%);
    
  }

}
.nav {
  &__list {
    list-style: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    &--link {
      line-height: 30px;
      text-decoration: none;
      color: $colorWhite;
      text-transform: uppercase;
      font-family: $fontReg;
      font-size: 1.6rem;   
    }
  }
}
.copy{
  text-align: center;
  font-family: $fontReg;
  font-size: 1.4rem;
  margin: 32px 0;
  &::first-line{
    word-spacing: 100vw;
    line-height: 30px;
  }
  &__love{
    color: $colorBrightOrange;
  }

}
