.advantages {
  background-color: $colorWhiteTwo;
  text-align: center;

  &__title {
    font-family: $fontSlab;
    font-size: 2rem;
    padding: 29px 50px 31px 50px;
    @media (min-width: 768px) {
      font-size: 2.8rem;
      padding-top: 49px;
      padding-bottom: 38px;
    }
    @media (min-width: 1200px) {
      font-size: 3.2rem;
    }
  }
  &__startNow {
    width: 184px;
    height: 45px;
    border-radius: 40px;
    border: none;
    background-color: $colorBrightOrange;
    color: $colorWhite;
    font-family: $fontReg;
    font-size: 2rem;
    margin: 27px 68px 27px 68px;
    &:hover{
      background-color: $colorWhite;
      color: $colorBrightOrange;
      border: 2px solid $colorBrightOrange;
      transition: all 0.5s ;
    transform: rotate(1turn);

      
    }
    @media (min-width: 768px) {
      /* margin-bottom: 56px;*/
      margin: 38px 292px 34px 292px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 76px;
    }
  }
  &__arrow {
    position: relative;
    transform: translateY(30px);
    padding: 15px;
    background-color: $colorWhite;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 2px black;
   
  }
}

.offers {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 38px 29px 38px 47px;
  }
  @media (min-width: 1200px) {
    margin: 51px 81px 32px 91px;
  }

  &__article {
    text-align: center;
    font-size: 1.8rem;
    font-family: $fontReg;
    padding: 20px 72px;
    line-height: 25px;
    @media (min-width: 768px) {
      padding: 0;
      font-size: 2rem;
    }
    &--title {
      font-size: 1.8rem;
      font-family: $fontSlab;
      padding-bottom: 5px;
      @media (min-width: 768px) {
        font-size: 2.4rem;
        margin-bottom: 18px;
      }
    }
  }
}