<footer class="footer">
  <button class="footer__arrow"><img src="/images/ico-arrow.svg" alt="botón subir"></button>
  <nav class="nav">
    <ul class="nav__list">
      <li><a class="nav__list--link" href="https://adalab.es">Zapatillas</a></li>
      <li><a class="nav__list--link" href="https://adalab.es">Ropa</a></li>
      <li><a class="nav__list--link" href="https://adalab.es">Niño/a</a></li>
      <li><a class="nav__list--link" href="https://adalab.es">Destacados</a></li>
      <li><a class="nav__list--link" href="https://adalab.es">Tips</a></li>
    </ul>
    <ul class="nav__list">
      <li ><a class="nav__list--link" href="https://adalab.es">Twitter</a></li>
      <li><a class="nav__list--link" href="https://adalab.es">Instagram</a></li>
      <li><a class="nav__list--link" href="https://adalab.es">Youtube</a></li>
    </ul>
  </nav>
  <p class="copy">&copy;2023  we <span class="copy__love">❤︎</span> run</p>
</footer>
