<section class="connect">
    <p class="connect__inspire">Los sentimientos nos inspiran</p>
    <article class="connect__ppal">
        <h2 class="connect__ppal--title">Conecta conmigo</h2>
        <p class="connect__ppal--text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>
    </article>
    <button class="connect__buy">Comprar</button>
</section>