<section class="advantages" id="newYear">
    <h2 class="advantages__title">Año nuevo, movimientos nuevos</h2>
    <section class="offers">
        <load src="/partials/advantages.html" title="Entrenamientos" text="Sesiones de running y entrenamientos." />
        <load src="/partials/advantages.html" title="Cualquier nivel" text="Entrenamientos para cada nivel." />
        <load src="/partials/advantages.html" title="Exclusividad" text="Productos para miembros premium." />
    </section>
    <button class="advantages__startNow">Empezar ahora</button>
    <div ><a href="#header"><img src="/images/ico-arrow.svg" alt="botón subir" class="advantages__arrow"></div>
</section>